%br
%br
.overflow-scroll
  %table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive.tableDataMia
    %thead
      %tr
        %th.text-center= "Estado Insc #{academic_process.period.name}"
        %th.text-center Sede
        %th Cédula
        %th.col-4{width: '350px'} Apellidos, Nombres
        %th.col-4.text-center Desde
        %th.col-4.text-center Hasta
        %th.text-center.align-middle Est. Permanencia
        %th.text-center{width: '50px'}= "Eficiencia #{academic_process.process_before.period.name}"
        %th.col-1.text-center= "Promedio #{academic_process.process_before.period.name}" 
        %th.col-1.text-center= "Ponderado #{academic_process.process_before.period.name}" 
    %tbody
      - before_grade_hours = grades.first[:from]
      - grades.each do |grade|
        - p "COMPARACIÓN: <#{before_grade_hours}> | <#{grade[:from]}>: #{!(before_grade_hours.to_s.eql? grade[:from].to_s)}"
        - border = !(before_grade_hours.to_s.eql? grade[:from].to_s) ? 'border-bottom border-danger' : ''
        - before_grade_hours = grade[:from]
        %tr{class: border}
          -# {label_status_aux: label_status_aux, sede: student.sede, user_ci: student.user_ci, student_link: link_to_student, from: appointment_from, to: appointment_to, status: label_current_permanence_status, efficiency: efficiency_aux, simple_average: simple_average_aux, weighted_average: weighted_average_aux}
          %td.text-center= grade[:label_status_aux].html_safe
          %td= grade[:sede]
          %td= grade[:user_ci]
          %th= grade[:student_link].html_safe
          %td.text-center= grade[:from] 
          %td.text-center= grade[:to]
          %td.text-center.align-middle= grade[:status]
          %td= grade[:efficiency]
          %td= grade[:simple_average]
          
          %td= grade[:weighted_average]

        
        
