-# Agrupar las notas por el valor de appointment_from
- grouped_grades = grades.group_by { |grade| grade.appointment_from }

%br
%br
.overflow-scroll
  %table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive.tableDataMia
    %thead
      %tr
        %th.text-center= "Estado Insc #{academic_process&.period&.name}"
        %th.text-center Sede
        %th Cédula
        %th.col-4{width: '350px'} Apellidos, Nombres
        %th.col-4.text-center Desde
        %th.col-4.text-center Hasta
        %th.text-center.align-middle Est. Permanencia
        %th.text-center{width: '50px'}= "Eficiencia #{over_academic_process&.period&.name}"
        %th.col-1.text-center= "Promedio #{over_academic_process&.period&.name}" 
        %th.col-1.text-center= "Ponderado #{over_academic_process&.period&.name}" 
    %tbody
      - grouped_grades.each do |appointment_from, grades_group|
        - grades_group.each_with_index do |grade, i|
          - student = grade.student
          - reverse_name = student.user.reverse_name
          - eap = grade.enroll_academic_processes.where(academic_process_id: over_academic_process&.id).first

          %tr
            %td.text-center= grade.label_status_enroll_academic_process(over_academic_process&.id)
            %td= student.sede 
            %td= student.user_ci
            %td{title: reverse_name}= link_to reverse_name, "/admin/student/#{grade.student_id}", target: '_black'
            - if i == 0
              %td.text-center{rowspan: grades_group.size}= grade.appointment_from 
              %td.text-center{rowspan: grades_group.size}= grade.appointment_to
            %td.text-center.align-middle= grade.label_current_permanence_status
            %td= eap.efficiency
            %td= eap.simple_average
            %td= eap.weighted_average
          - if i == grades_group.size - 1
            %tr.table-warning
              %td.text-center{colspan: 10}
                = "Total de estudiantes con Cita Horaria #{appointment_from}: "
                %strong.badge-dark= grades_group.size
